NODE_ENV=development
PORT=4000

DATABASE_URL=postgresql://user:password@localhost:5432/proctora

JWT_ACCESS_SECRET=replace_with_random_32_char_string_here_!!
JWT_REFRESH_SECRET=replace_with_random_32_char_string_here_!!
JWT_ACCESS_TTL=15m
JWT_REFRESH_TTL=7d

AES_ENCRYPTION_KEY=replace_with_64_hex_chars_representing_32_bytes_of_aes_key_here!
CSRF_SECRET=replace_with_random_32_char_string_here_!!

TOTP_ISSUER=NITK-OnlineExam

CLIENT_URL=http://localhost:5173
